<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PSCInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <PSCInstaller.Properties.Settings>
            <setting name="PackageRelativePath" serializeAs="String">
                <value>Assets/Packages/Pearson.PSC_1.4.3_u66eud/</value>
            </setting>
            <setting name="AppBundleName" serializeAs="String">
                <value>Pearson.PSC_1.4.3.0.appxbundle</value>
            </setting>
            <setting name="RelativeDependencyPaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Dependencies/x64/Microsoft.VCLibs.x64.120.00.appx</string>
                        <string>Dependencies/x86/Microsoft.VCLibs.x86.120.00.appx</string>
                        <string>Dependencies/ARM/Microsoft.VCLibs.ARM.120.00.appx</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FullPackageName" serializeAs="String">
                <value>Pearson.PSC_1.4.3.0_x86__2dnf9zyx96z42</value>
            </setting>
            <setting name="PublisherId" serializeAs="String">
                <value>2dnf9zyx96z42</value>
            </setting>
            <setting name="PackageName" serializeAs="String">
                <value>Pearson.PSC</value>
            </setting>
            <setting name="ContentFilePath" serializeAs="String">
                <value>C:\Pearson\PSC\8-12win.zip</value>
            </setting>
        </PSCInstaller.Properties.Settings>
    </userSettings>
</configuration>
